doctype html 

html(lang="en-US")

  head 
    title GitHub PR info
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")
  
  body 
    header 
      h1 GitHub Pull Request Information
      br
      form(action=`/` method="post")    
        dt 
          label(for="url") Enter the URL for a GitHub repository below: 
        dd 
          input(type="text"
                name="url"
                placeholder="https://github.com/user/repo"
                value=url)
        fieldset.actions  
          input(type="submit" value="Get Info")

