body {
  background-color: #ffffff;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
}

body > header, main, footer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 55px 0 35px;
}

li {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 0 0;
}

body > header h1 {
  color: black;
  display: inline-block;
  font-size: 30px;
  width: 50%;
}


main > form,
footer > form {
  margin-top: 1.5rem;
}

form dt {
  padding: 25px 0 25px;
}

form dd {
  padding: 15px 0 15px;
}


form input[type="text"] {
  border: 1px solid #a4a4a4;
  border-radius: 8px;
  box-sizing: border-box;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  height: 58px;
  padding: 15px 20px;
  width: 100%;
}

form input[type="submit"],
form fieldset button {
  -moz-appearance: none;
  -webkit-appearance: none;

  background-color: black;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font: normal 24px "PT Sans", Helvetica, Arial, sans-serif;
  margin: 0 40px 0 0;
  padding: 12px 45px;

  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}

form input[type="submit"]:hover {
  background-color: #d13b28;
  cursor: pointer;
}

form fieldset.actions a:hover {
  color: #b00b00;
}

form fieldset.actions button:hover {
  background-color:#b00b00;
  color: #ffffff;
}